#wrapMain{
    margin-left: 10px;
}
.wordsset {
    width: 200px;
    height: 24px;
    background-color: #ffff00;
}
.oneWord {
    margin-right: 3px;
}
.selectedWord {
    background-color:lightgreen;
}

#story {
    height: 16px;
}

.wordsList {
    float: left;
}

#inputDigit {
    width: 500px;
}

#infoField {
    width: 500px;
    height: 16px;
    color: red;
}