#wrapMain{
    width: 1000x;
    height: 600px;
    /*border: 1px solid black;*/
    margin-left: 10px;
}
#wrapInfoField{
    width: 250px;
    height: 24px;
    /*border:1px solid purple;*/
    color: red;
}
#wrapSearchBar {
    width: 250px;
    height: 24px;
    /*border: 1px solid yellow;*/
    float: left;
}
#wrapStory {
    width: 400px;
    height: 25px;
    padding-left: 20px;
    float: left;
    /*border: 1px solid green;*/
}

#wrapWordsLists{
    width: 100%;
    height: 300px;
    /*border: 1px solid orange;*/
    padding-top: 25px;
    float: left;
}
#wrapLegend{
    width: 100%;
    padding: 10px;
    background-color: lightyellow;
    float: left;
}

.wordsset {
    width: 200px;
    height: 24px;
    background-color: #ffff00;
}
.oneWord {
    margin-right: 3px;
}
.selectedWord {
    background-color:lightgreen;
}

.wordsList {
    float: left;
}

#inputDigit {
    width: 250px;
}

/* Story */
#clearStory{
    color: blue;
}